<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shelley021.recipes" version="1.0.0" xmlns="https://www.w3.org/ns/widgets" xmlns:android="https://schemas.android.com/apk/res/android">
    <name>智能食谱</name>
    <description>
        A smart recipe search application.
    </description>
    <author email="dev@example.com" href="https://example.com">
        Your Name
    </author>
    <content src="index.html" />
    <!--- 核心修改：添加App图标 -->
    <icon src="logo.jpg" />

    <access origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="https://*/*" />
    <preference name="AndroidXEnabled" value="true" />

x
    
    <!-- 核心修改：增加一个 platform 块，专门为安卓平台配置权限 -->
    <platform name="android">
        <!-- 这一行是允许HTTP和HTTPS混合内容的关键 -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
</widget>
